body{
  color: $black;
}
a {
  color: $link;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
}
p{
    font-size: 14px;
}
body{
  background-color: $bkg;
  letter-spacing: 0.5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $grey;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.card-wrapper {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 3px 10px 2px  rgba(0,54,90, 0.1);
  padding: 24px;
  margin: 24px 0;
}
.navy-text{
  color: $navy;
}