$mint: #aaf0d1;
$navy: #00365a;
$white: #ffffff;
$black: #3d3d3d;
$grey: #8f8f8f;
$border: rgba(0,54,90,.3);
$link: #004b94;
$lightMint: #fcfffe;
$bkg: #FAFAFA;
$focused-border: rgba(0,54,90,.5);